@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
}

.text {
    text-align: center;
    font-size: 40px;
}
.text li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
    
}
.text li.on {
    opacity: 1;
    transition: 0.7s;
    
}