@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;   
}

.main_visure {
    height: 100vh;
}
.main_visure div {
    width: 100%;
    height: 100%;
}
.main_visure div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section01 {
    
    background: url(../img/2.jpg) center center / cover no-repeat;
    position: relative;

}

.section01 .bg div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}
.section01 .bg div.on {
    opacity: 1;
}

.section01 .bg div.bg01 {
    background: url(../img/2.jpg) center center / cover no-repeat fixed;
   
}
.section01 .bg div.bg02 {
    background: url(../img/3.jpg) center center / cover no-repeat fixed;
}
.section01 .bg div.bg03 {
    background: url(../img/4.jpg) center center / cover no-repeat fixed;
}
.section01 .bg div.bg04 {
    background: url(../img/5.jpg) center center / cover no-repeat fixed;
}

.section01 .inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
.section01 .inner .title {
    width: 30%;
    
    color: #333;
    font-size: 80px;
    margin-top: 40px;
    

}

.section01 .inner .list {
    width: 50%;
   
}
.section01 .inner .list .item {
    background-color: #fff;
    margin: 50px 0;
    padding: 30px;
    border-radius: 30px;
}
.section01 .inner .list .item.on {
    backdrop-filter: blur(50px);
    background-color: transparent;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.7)
}
.section01 .inner .list .item h4 {
    font-size: 50px;
    margin-bottom: 50px;
}
.section01 .inner .list .item p {
    font-size: 20px;
    line-height: 1.8;
}

.section02 {
    height: 100vh;
}

